<!DOCTYPE html>

<html>

<head>
    <style>
        .navbar {
            position: fixed;
            top: 0;
            background-color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .dropdown {
            float: left;
            overflow: hidden;
        }

        .dropdown .dropbtn {
            cursor: pointer;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a:hover,
        .dropdown:hover .dropbtn,
        .dropbtn:focus {
            background-color: red;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <!-- <a href="#home">Home</a> -->
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">Account
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
            {%- for user in grids %}
                <a href="javascript:grid_{{user}}()">{{user}}</a>
            {%- endfor %}
            </div>
        </div>
    </div>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }
    </script>
    <script>
    {%- for user, symbols in grids.items() %}
        function grid_{{user}}() {
            var timestamp = Date.now()
            let grid = document.getElementById("grid");
            grid.innerHTML = '';
        {%- for symbol in symbols %}
            // {{symbol}}
            let _{{symbol}} = document.createElement("img");
            _{{symbol}}.src = "https://ik.imagekit.io/zt8y0hunm/{{user}}/tr:w-1280/grid_{{user}}_{{symbol}}.png?updatedAt=" + timestamp;
            document.getElementById("grid").appendChild(_{{symbol}});
        {%- endfor %}
        }
    {%- endfor %}
    </script>
    <section id="grid"></section>
</body>
</html>