streamlit==1.52.2
streamlit-scrollable-textbox==0.0.3
streamlit-autorefresh==1.0.1
streamlit-bokeh==3.8.1
bokeh==3.8.1
psutil==5.9.4
plotly==6.0.1
contourpy>=1.2
numpy==1.24.4
numba==0.59.1
hjson==3.1.0
msgpack==1.0.8
msgspec==0.20.0 ; python_version >= "3.11"
ccxt==4.4.85
ansible==8.7.0
ansible-runner==2.4.0
passlib==1.7.4
python-telegram-bot==21.10
paramiko==4.0.0
boto3>=1.28.0,<2.0.0
lz4>=4.4.3,<5.0.0
