streamlit==1.46.0
streamlit-scrollable-textbox==0.0.3
streamlit-autorefresh==1.0.1
bokeh==2.4.3
psutil==5.9.4
plotly==6.0.1
contourpy==1.1.1
numpy==1.24.4
numba==0.59.1
hjson==3.1.0
ccxt==4.4.85
ansible==8.7.0
ansible-runner==2.4.0
passlib==1.7.4
python-telegram-bot==21.10