#!/usr/bin/bash
venv=~/software/pb_env          #Path to python venv
pbgui=~/software/pbgui          #path to pbgui installation

source ${venv}/bin/activate
cd ${pbgui}
python PBRun.py &
python PBRemote.py &
python PBStat.py &
python PBData.py &
