#!/usr/bin/bash
venv=~/software/venv_pbgui      #Path to python venv
pbgui=~/software/pbgui          #path to pbgui installation

source ${venv}/bin/activate
cd ${pbgui}
python PBApiServer.py &
python PBRun.py &
python PBRemote.py &
python PBCoinData.py &
python PBData.py &
python PBMon.py &
